* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    margin-bottom: 30vh;
    margin-left: 10%;
    margin-right: 10%;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
    margin-top: 10px;
}

.timer {
    float: right;
}
.time-left {
    float: right;
}

.header-section {
    padding: 10px;
    display: block;
    justify-content: start;
}

.btn-scores {
    border: none;
    background: none;
    color: blue;
}
.btn-scores:hover {
    color: black;
}

.main-page {
    text-align: center;
    margin: 0 auto;
    /* display: flex */
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.main-page p {
    margin-top: 10px;
}

.btn-start {
    margin: 20px auto;
    display: block;
    border: none;
    outline: none;
    padding: 1px 5px;
    background-color: lightskyblue;
    color: black;
}

.btn-start:hover {
    background-color: white;
    color: lightskyblue;
}

.quiz-card {
    background-color: lightcyan;
    height: 100%;
    width: 600px;
    text-align: left;
    margin: 0 auto;
    /* display: flex */
    display: none;
    flex-direction: column;
    justify-content: center;
}

.quiz-question {
    padding-left: 25px;
    padding-top: 5px;
    font-size: 16px;
}

.answer-list {
    padding: 15px;
}

.answer {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    align-items: center;
}

.answer:hover {
    background-color: white;
}

footer {
    padding-top: 10px;
    height: 100%;
    width: 600px;
    text-align: left;
    margin: 0 auto;
    /* display: flex */
    display: none;
}
.right {
    color: green;
    display: flex;
}

.wrong {
    color: red;
    float: right;
    justify-content: start;
    height: 100%;
    width: 600px;
    text-align: left;
    margin: 0 auto;
    display: flex;
}

.initials-page {
    text-align: center;
    margin: 0 auto;
    /* display: none; */
    display: block;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.initials-page p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.score-results {
    text-align: center;
    margin: 0 auto;
    /* display: block */
    display: none;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.back-btn, .clear-btn {
    margin: 20px auto;
    border: none;
    outline: none;
    padding: 1px 5px;
    background-color: lightskyblue;
    color: black;
}

.back-btn:hover, .clear-btn:hover {
    background-color: white;
    color: lightskyblue;
}

.submit-btn {
    background-color: lightskyblue;
    color: black;
    border: none;
    outline: none;
    padding: 1px 5px;
}

.submit-btn:hover {
    background-color: white;
    color: lightskyblue;