* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    
}

body {
    background-color: #222;
    font-size: 13px;
}

P {
    color: white;
    font-size: 13px;
}

button {
    border: none;
    background: none;
    color: lightskyblue;
    cursor: pointer;
}

h1, h2 {
    color: white;
    text-align: center;
}

li {
    list-style: none;
}

.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.top-bar p {
    float: right;
}

.inner-container {
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz-intro, main {
    color: white;
    margin-bottom: 30vh;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    
}

.quiz-intro p {
    text-align: center;
    margin-top: 10px;
}

.quiz-intro button {
    margin: 20px auto;
    display: block;
}

main {
    display: block;
}

.question-container {
    display: block;
}

.finish-container {
    display: block;
}

.highscores {
    display: none;
}

.highscores ol {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 200px;
}

.highscores ol:hover {
    overflow-y: scroll;
}

